<div class="container">
    <h2 class="faq-heading"> Edit FAQ</h2> 
    
    <form [formGroup]="editFaqForm" (ngSubmit)="editFAQ()">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="question_en">Question (English)</label>
          <textarea id="question_en" name="question_en" formControlName="question_en" placeholder="Enter Your Question"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['question_en'].valid) || (!editFaqF['question_en'].valid && editFaqF['question_en'].touched)">
            {{ editFaqF['question_en'].errors?.['required'] ? 'Please provide a question in English' : '' }}
          </span>
        </div>
        <div>
          <label for="answer_en">Answer (English)</label>
          <textarea id="answer_en" name="answer_en" formControlName="answer_en" placeholder="Enter Your Answer"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['answer_en'].valid) || (!editFaqF['answer_en'].valid && editFaqF['answer_en'].touched)">
            {{ editFaqF['answer_en'].errors?.['required'] ? 'Please provide an answer in English' : '' }}
          </span>
        </div>
  
        <div>
          <label for="question_fr">Question (French)</label>
          <textarea id="question_fr" name="question_fr" formControlName="question_fr" placeholder="Enter Your Question"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['question_fr'].valid) || (!editFaqF['question_fr'].valid && editFaqF['question_fr'].touched)">
            {{ editFaqF['question_fr'].errors?.['required'] ? 'Please provide a question in French' : '' }}
          </span>
        </div>
        <div>
          <label for="answer_fr">Answer (French)</label>
          <textarea id="answer_fr" name="answer_fr" formControlName="answer_fr" placeholder="Enter Your Answer"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['answer_fr'].valid) || (!editFaqF['answer_fr'].valid && editFaqF['answer_fr'].touched)">
            {{ editFaqF['answer_fr'].errors?.['required'] ? 'Please provide an answer in French' : '' }}
          </span>
        </div>
  
        <div>
          <label for="question_de">Question (German)</label>
          <textarea id="question_de" name="question_de" formControlName="question_de" placeholder="Enter Your Question"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['question_de'].valid) || (!editFaqF['question_de'].valid && editFaqF['question_de'].touched)">
            {{ editFaqF['question_de'].errors?.['required'] ? 'Please provide a question in German' : '' }}
          </span>
        </div>
        <div>
          <label for="answer_de">Answer (German)</label>
          <textarea id="answer_de" name="answer_de" formControlName="answer_de" placeholder="Enter Your Answer"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['answer_de'].valid) || (!editFaqF['answer_de'].valid && editFaqF['answer_de'].touched)">
            {{ editFaqF['answer_de'].errors?.['required'] ? 'Please provide an answer in German' : '' }}
          </span>
        </div>
  
        <div>
          <label for="question_it">Question (Italian)</label>
          <textarea id="question_it" name="question_it" formControlName="question_it" placeholder="Enter Your Question"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['question_it'].valid) || (!editFaqF['question_it'].valid && editFaqF['question_it'].touched)">
            {{ editFaqF['question_it'].errors?.['required'] ? 'Please provide a question in Italian' : '' }}
          </span>
        </div>
        <div>
          <label for="answer_it">Answer (Italian)</label>
          <textarea id="answer_it" name="answer_it" formControlName="answer_it" placeholder="Enter Your Answer"
            class="form-textarea" rows="6"></textarea>
          <span class="errormsg" *ngIf="(is_submited && !editFaqF['answer_it'].valid) || (!editFaqF['answer_it'].valid && editFaqF['answer_it'].touched)">
            {{ editFaqF['answer_it'].errors?.['required'] ? 'Please provide an answer in Italian' : '' }}
          </span>
        </div>
      </div>
  
      <div class="mt-8 flex items-center justify-center">
        <button type="button" class="btn btn-outline-danger" (click)="cancel()">Back</button>
        <button type="submit" class="btn btn-success ml-4">Update</button>
      </div>
    </form>
  </div>
  