<div>

    <div class="relative flex min-h-screen items-center justify-center">

        <div
            class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">
            <div
                class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[758px]">

                <div class="mx-auto w-full max-w-[440px]">
                    <div class="mb-7">
                        <h1 class="mb-3 text-2xl font-bold !leading-snug dark:text-white">Change-Password</h1>
                        <p>Enter Password And Confirm Password to Reset</p>
                    </div>
                    <form class="space-y-5 dark:text-white" [formGroup]="passwordForm" (ngSubmit)="submitForm()">
                        <div>
                          <label for="inputPasswordOld">Current password</label>
                          <div class="relative text-white-dark">
                            <input id="inputPasswordOld" [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter Current Password"
                              class="form-input placeholder:text-white-dark" formControlName="old_password" />
                            <button type="button" class="absolute inset-y-0 right-4 flex items-center" (click)="togglePasswordVisibility()">
                              <i [class]="passwordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                            </button>
                          </div>
                          <span class="errormsg" *ngIf="(is_submitted && !passwordControl['old_password'].valid) || (!passwordControl['old_password'].valid && passwordControl['old_password'].touched)">
                            {{ passwordControl['old_password'].errors?.['pattern'] ? 'The password must be 6-20 characters, and must not contain spaces, at least one special character, and one capital letter' : 'Please provide a Password' }}
                          </span>
                        </div>
                        <div>
                          <label for="inputPasswordNew">New password</label>
                          <div class="relative text-white-dark">
                            <input id="inputPasswordNew" [type]="newPasswordVisible ? 'text' : 'password'" placeholder="Enter New Password"
                              class="form-input placeholder:text-white-dark" formControlName="new_password" />
                            <button type="button" class="absolute inset-y-0 right-4 flex items-center" (click)="toggleNewPasswordVisibility()">
                              <i [class]="newPasswordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                            </button>
                          </div>
                          <span class="errormsg" *ngIf="(is_submitted && !passwordControl['new_password'].valid) || (!passwordControl['new_password'].valid && passwordControl['new_password'].touched)">
                            {{ passwordControl['new_password'].errors?.['pattern'] ? 'The password must be 6-20 characters, and must not contain spaces, at least one special character, and one capital letter' : 'Please provide a Password' }}
                          </span>
                        </div>
                        <div>
                          <label for="inputPasswordNewVerify">Confirm Password</label>
                          <div class="relative text-white-dark">
                            <input id="inputPasswordNewVerify" [type]="confirmPasswordVisible ? 'text' : 'password'" placeholder="Enter Confirm Your Password"
                              class="form-input placeholder:text-white-dark" formControlName="match_password" />
                            <button type="button" class="absolute inset-y-0 right-4 flex items-center" (click)="toggleConfirmPasswordVisibility()">
                              <i [class]="confirmPasswordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                            </button>
                          </div>
                          <span class="errormsg" *ngIf="is_submitted && passwordControl['match_password'].hasError('confirmedValidator')">new password and confirm password must be match</span>
                          <span class="errormsg" *ngIf="is_submitted && passwordControl['match_password'].hasError('required')">Please confirm your password</span>
                        </div>
                        <button type="submit" class="btn btn-success !mt-6 w-full border-0 shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
                          Update
                        </button>
                      </form>
                      
                      

                    <div class="mb-10 md:mb-[60px]">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>