<h1 class="heading"><b>Welcome To Terms & Condition</b></h1>
<div class="container">
  <header class="header"></header>

  <!-- English -->
  <div class="language-section">
    <label class="language-label">Title (English)</label>
    <input type="text" class="title-input" [(ngModel)]="titleEnglish" placeholder="Title in English">
    <angular-editor [(ngModel)]="htmlContentEnglish" [config]="config"></angular-editor>
    <button class="update-button" (click)="updateContent('English')">Update</button>
  </div>

  <!-- French -->
  <div class="language-section">
    <label class="language-label">Title (French)</label>
    <input type="text" class="title-input" [(ngModel)]="titleFrench" placeholder="Title in French">
    <angular-editor [(ngModel)]="htmlContentFrench" [config]="configFrench"></angular-editor>
    <button class="update-button" (click)="updateContent('French')">Update</button>
  </div>

  <!-- German -->
  <div class="language-section">
    <label class="language-label">Title (German)</label>
    <input type="text" class="title-input" [(ngModel)]="titleGerman" placeholder="Title in German">
    <angular-editor [(ngModel)]="htmlContentGerman" [config]="configGerman"></angular-editor>
    <button class="update-button" (click)="updateContent('German')">Update</button>
  </div>

  <!-- Italian -->
  <div class="language-section">
    <label class="language-label">Title (Italian)</label>
    <input type="text" class="title-input" [(ngModel)]="titleItalian" placeholder="Title in Italian">
    <angular-editor [(ngModel)]="htmlContentItalian" [config]="configItalian"></angular-editor>
    <button class="update-button" (click)="updateContent('Italian')">Update</button>
  </div>
</div>
