
<div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
    <h5 class="text-lg font-semibold dark:text-white-light">Manage Blogs</h5>

    <button type="button" class="btn btn-outline-success" (click)="navigateToAddBlogs()">+ Add</button>
    <div class="ltr:ml-auto rtl:mr-auto">
        <input [(ngModel)]="search" type="text" class="form-input w-auto" placeholder="Search..."
            (input)="searchData()" />

    </div>
</div>

<ngx-datatable class="material striped" [rows]="rows" [columns]="columns" [columnMode]="columnMode" [headerHeight]="60"
    (sort)="onSort($event)" [footerHeight]="60" [rowHeight]="'auto'" [count]="totalBlogs" >

    <ngx-datatable-column name="Title" [flexGrow]="2" [sortable]="true" prop="blogs_title">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="wrap-text">
                {{ row?.blogs_title }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Description" [flexGrow]="4" [sortable]="true" prop="blogs_description">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text">
                {{ row?.blogs_description }}
            </div>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Image" [flexGrow]="2" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>           
       <img [src]="row?.blogs_image" alt="Blog Image" class="fixed-image" />
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status Action" [flexGrow]="2" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button *ngIf="row?.is_active === 1" type="button" class="btn btn-success"
                (click)="active_Blogs(row.id)">Active</button>
            <button *ngIf="row?.is_active === 0" type="button" class="btn btn-danger"
                (click)="inactive_Blogs(row.id)">InActive</button>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [flexGrow]="2" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="flex items-center">
                <div>
                    <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="Edit" (click)="navigateToEditBlogs(row.id)">
                        <icon-pencil-paper />
                    </button>
                </div>
                <div>
                    <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="View" [routerLink]="['/admin/blogs/blog-details', row.id]">
                        <icon-eye />
                    </button>
                </div>
                <div>
                    <button type="button" ngxTippy="Delete" (click)="deleteBlogs(row.id)">
                        <icon-trash-lines />
                    </button>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<!-- Display this message if no data is found -->
<!-- <div *ngIf="rows?.length === 0 && search !== ''" class="no-data-found-message">No data found</div> -->

<div class="container">
    <div class="pag-container">
        <div class="pagination-info">{{ getRange() }}</div>
        <select [(ngModel)]="per_page" (change)="changePerPage($event)" class="form-select">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

    <div class="pagination-container">
        <button class="pagination-button" (click)="moveToFirstPage()"
            [disabled]="!totalBlogs || page === 1">First</button>
        <button class="pagination-button" (click)="moveToPreviousPage()"
            [disabled]="!totalBlogs || page === 1">Previous</button>
        <span class="pagination-info">Page {{ page }} of {{ totalPages }}</span>
        <button class="pagination-button" (click)="moveToNextPage()"
            [disabled]="!totalBlogs || page === totalPages">Next</button>
        <button class="pagination-button" (click)="moveToLastPage()"
            [disabled]="!totalBlogs || page === totalPages">Last</button>
    </div>
</div>
