<div class="filter-section">
    <label for="filter">Select Filter:</label>
    <select class="filter-select" [(ngModel)]="selectedFilterType" (change)="onFilterChange()">
        <!-- <option value="" disabled>Select Filter</option> -->
        <option *ngFor="let option of filterOptions" [value]="option.value">{{ option.label }}</option>
    </select>

    <div *ngIf="selectedFilterType === 'custom'" class="custom-date-range">
        <label for="startDate">Start Date:</label>
        <input type="date" class="date-input" [(ngModel)]="startDate" />
        
        <label for="endDate">End Date:</label>
        <input type="date" class="date-input" [(ngModel)]="endDate" />
    </div>

    <button class="apply-button" (click)="fetchDashboardData()">Apply Filter</button> 
</div>



<div class="row">
    <div class="mb-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <div class="panel h-auto sm:col-span-2 lg:col-span-1 p-4" (click)="checkPermission('independent-customers')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Independent Customers</h5>
                <i class="fas fa-users text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalIndependentCustomers}}</span>
            </div>
        </div>

        <div class="panel h-auto p-4" (click)="checkPermission('organization-customers')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Organization Customers</h5>
                <i class="fas fa-users text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalOrganizationCustomers}}</span>
            </div>
        </div>

        <div class="panel h-auto p-4" (click)="checkPermission('donors')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Donors</h5>
                <i class="fas fa-list-alt text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalDonors}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="mb-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <div class="panel h-auto sm:col-span-2 lg:col-span-1 p-4" (click)="checkPermission('campaign')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Campaigners</h5>
                <i class="fas fa-shopping-cart text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalCampaigners}}</span>
            </div>
        </div>

        <div class="panel h-auto p-4" (click)="checkPermission('campaign')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Campaigns</h5>
                <i class="fas fa-money-bill text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalCampaigns}}</span>
            </div>
        </div>

        <div class="panel h-auto p-4" (click)="checkPermission('earnings')">
            <div class="mb-3 flex items-center justify-between dark:text-white-light">
                <h5 class="text-lg font-semibold">Total Earning</h5>
                <i class="fas fa-money-check-alt text-xl text-[#054B05]"></i>
            </div>
            <div class="my-6 text-3xl font-bold text-[#054B05]">
                <span class="ltr:mr-2 rtl:ml-2">{{dashboardData?.totalFundsRaised}}</span>
            </div>
        </div>
    </div>
</div>

