<div class="panel">
<!-- Toolbar: title, search and add -->
<div class="mb-5 flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
    <div>
        <h5 class="text-lg font-semibold dark:text-white-light">Manage Articles</h5>
        <p class="text-xs text-white-dark">{{ totalArticle }} {{ totalArticle === 1 ? 'article' : 'articles' }}</p>
    </div>
    <div class="flex flex-col gap-3 sm:flex-row sm:items-center">
        <div class="relative sm:w-64">
            <input [(ngModel)]="search" type="text" class="form-input ltr:pl-9 rtl:pr-9" placeholder="Search articles..."
                (input)="searchData()" />
            <icon-search class="pointer-events-none absolute top-1/2 h-4 w-4 -translate-y-1/2 text-white-dark ltr:left-3 rtl:right-3"></icon-search>
        </div>
        <button type="button" class="btn btn-success gap-2" (click)="navigateToAddArticle()">
            <icon-plus class="h-4 w-4"></icon-plus>
            Add Article
        </button>
    </div>
</div>

<div class="table-responsive w-full overflow-x-auto">
<ngx-datatable class="material striped datatable-compact" [rows]="rows" [columns]="columns" [columnMode]="columnMode" [headerHeight]="50"
    (sort)="onSort($event)" [footerHeight]="50" [rowHeight]="'auto'" [count]="totalArticle" [scrollbarH]="true">

    <ngx-datatable-column name="Title" [width]="180" [minWidth]="160" [sortable]="true" prop="title">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.title || ''">
                {{ row?.title }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Description" [width]="260" [minWidth]="220" [sortable]="true" prop="description">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.description || ''">
                {{ row?.description }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Image" [width]="90" [canAutoResize]="false" [sortable]="false" prop="Image">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="image-container">
                <img *ngIf="articleImageUrl(row?.image, 'articles')" [src]="articleImageUrl(row?.image, 'articles')" [alt]="(row?.title || 'Article') + ' image'" class="datatable-image" />
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Peers" [width]="200" [minWidth]="170" [sortable]="true" prop="peers">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.peers || ''">
                {{ row?.peers }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Peers Image" [width]="90" [canAutoResize]="false" [sortable]="false" prop="peer_images">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="image-container">
                <img *ngIf="articleImageUrl(row?.peer_images, 'peers')" [src]="articleImageUrl(row?.peer_images, 'peers')" [alt]="(row?.peers || 'Peer') + ' image'" class="datatable-image" />
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Video Title" [width]="170" [minWidth]="150" [sortable]="true" prop="video_title">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.video_title || ''">
                {{ row?.video_title }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Author Name" [width]="130" [minWidth]="120" [sortable]="true" prop="author_name">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.author_name || ''">
                {{ row?.author_name }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Video Description" [width]="240" [minWidth]="200" [sortable]="true" prop="video_description">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text" [title]="row?.video_description || ''">
                {{ row?.video_description }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Other Details" [flexGrow]="4" [sortable]="true" prop="other_details">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="truncate-text">
                {{ row?.other_details }}
            </div>
        </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Status Action" [width]="110" [canAutoResize]="false" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button *ngIf="row?.is_active === 1" type="button" class="btn btn-success btn-sm whitespace-nowrap"
                (click)="active_Article(row.id)">Active</button>
            <button *ngIf="row?.is_active === 0" type="button" class="btn btn-danger btn-sm whitespace-nowrap"
                (click)="inactive_Article(row.id)">Inactive</button>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [width]="110" [canAutoResize]="false" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="flex items-center gap-3">
                <div>
                    <button type="button" ngxTippy="Edit" (click)="navigateToEditArticle(row.id)">
                        <icon-pencil-paper />
                    </button>
                </div>
                <div>
                    <button type="button" ngxTippy="View" [routerLink]="['/admin/article/article-details', row.id]">
                        <icon-eye />
                    </button>
                </div>
                <div>
                    <button type="button" ngxTippy="Delete" (click)="deleteArticle(row.id)">
                        <icon-trash-lines />
                    </button>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
</div>


<!-- Display this message if no data is found -->
<!-- <div *ngIf="rows?.length === 0 && search !== ''" class="no-data-found-message">No data found</div> -->

<div class="container">
    <div class="pag-container">
        <div class="pagination-info">{{ getRange() }}</div>
        <select [(ngModel)]="per_page" (change)="changePerPage($event)" class="form-select">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
    </div>
    
    <div class="pagination-container">
        <button class="pagination-button" (click)="moveToFirstPage()" [disabled]="!totalArticle || page === 1">First</button>
        <button class="pagination-button" (click)="moveToPreviousPage()" [disabled]="!totalArticle || page === 1">Previous</button>
        <span class="pagination-info">Page {{ page }} of {{ totalPages }}</span>
        <button class="pagination-button" (click)="moveToNextPage()" [disabled]="!totalArticle || page === totalPages">Next</button>
        <button class="pagination-button" (click)="moveToLastPage()" [disabled]="!totalArticle || page === totalPages">Last</button>
    </div>
</div>
</div>
